* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border: 1px solid #333;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
}

.clouds{
    right: -550px;
    width: 550px;
    position: absolute;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.jump{
    animation: jump-animation 500ms ease-out;
}

.points{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-weight: bold;
    font-size: 25px;
}

.game-over{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.version {
    color: red;
}

.menu{
    height: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.start{ 
    background-color: white;
    height: 40px;
    width: 90px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #094d0b;
}

@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump-animation{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }   
}